.container {
  max-width: 1000px;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
@media(max-width: 768px) {
  header {
    flex-direction: column;
    gap: 20px;
  }
}
header h1 {
  margin: 0;
}
header button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  font-weight: 600;
}
main {
  padding: 0 10px;
}
main form {
  width: 100%;
  background: #ededed;
}
main form input:not([type='checkbox']) {
  padding: 10px;
  width: 100%;
}
input[type='checkbox'] {
  margin: 15px 15px 15px 5px;
  transform: scale(1.5);
}
.inputs {
  display: flex;
  flex-wrap: wrap;
}
.input-wrapper {
  width: 50%;
  text-align: left;
  padding: 10px;
}
@media (max-width:768px) {
  .input-wrapper {
    width: 100%;
  }
}
form.new-form button {
  background: var(--first-dark);
  border: none;
  font-size: 16px;
  padding: 15px;
  color: #fff;
  border-radius: 7px;
  float: right;
}
form.new-form button:disabled {
  background-color: gray;
  opacity: 0.8;
}
.table-container {
  max-width: 100%;
  overflow: scroll; 
}
table {
  width: 100%;
  min-width: 900px;
  margin-top: 20px;
  border-collapse: collapse;
}
table thead {
  background-color: #ededed;
  border-bottom: 1px solid rgba(0,0,0, 0.7);
}
table thead th,
table tbody td {
  text-align: left;
  padding: 5px 0px;
}
table thead th:first-child,
table tbody td:first-child {
  padding-left: 5px;
}
table thead th:last-child,
table tbody td:last-child {
  padding-right: 5px;
}
table tbody tr:nth-child(even) {
  background-color: #ebebeb;
}
table tbody td:last-child button {
  background: none;
  border: none;
  padding: 0;
  font-weight: 600;
}