@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
:root {
  --first: #4345E7;
  --second: #F9A5A9;
}
body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}
form {
  max-width: 500px;
  margin:  100px auto;
  padding: 20px;
  border-radius: 7px;
  text-align: center;
  background-color: var(--second);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
h1 {
  font-weight: 600;
  color: #fff;
  margin: 0 0 20px 0;
}
input {
  width: 100%;
  padding: 15px;
  border: none;
  margin-bottom: 20px;
}
::placeholder {
  font-family: 'Kanit', sans-serif;
}
button {
  border: none;
  padding: 15px;
  font-weight: 600;
  border-radius: 7px;
  background-color: #4345E7;
  color: #fff;
  font-size: 16px;
}
button:hover {
  cursor: pointer;
}